<!DOCTYPE html>
<head>
    <title>Zoom JSSDK</title>
    <meta charset="utf-8" />
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.6.1/css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" href="https://source.zoom.us/1.6.1/css/react-select.css"/>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
<style>
    body {
        padding-top: 50px;
    }
</style>

<nav id="nav-tool" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">MyMeetingApp</a>
        </div>
        <div id="navbar">
            <form class="navbar-form navbar-right" id="meeting_form">
                <div class="form-group">
                    <input type="text" name="display_name" id="display_name" value="JSSDK1.6.1#CDN" placeholder="Name" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="text" name="meeting_number" id="meeting_number" value="" placeholder="Meeting Number" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary" id="join_meeting">Join</button>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>


<script src="https://source.zoom.us/1.6.1/lib/vendor/react.min.js"></script>
<script src="https://source.zoom.us/1.6.1/lib/vendor/react-dom.min.js"></script>
<script src="https://source.zoom.us/1.6.1/lib/vendor/redux.min.js"></script>
<script src="https://source.zoom.us/1.6.1/lib/vendor/redux-thunk.min.js"></script>
<script src="https://source.zoom.us/1.6.1/lib/vendor/jquery.min.js"></script>
<script src="https://source.zoom.us/1.6.1/lib/vendor/lodash.min.js"></script>

<script src="https://source.zoom.us/zoom-meeting-1.6.1.min.js"></script>
    
    <script>
          
        (function(){

            console.log('checkSystemRequirements');
            console.log(JSON.stringify(ZoomMtg.checkSystemRequirements()));

            // it's option if you want to change the jssdk dependency link resources.
            // ZoomMtg.setZoomJSLib('https://source.zoom.us/1.6.1/lib', '/av'); // CDN version default
            // ZoomMtg.setZoomJSLib('https://jssdk.zoomus.cn/1.6.1/lib', '/av'); // china cdn option 
            // ZoomMtg.setZoomJSLib('http://localhost:9999/node_modules/zoomus-jssdk/dist/lib', '/av'); // Local version default
            ZoomMtg.preLoadWasm();

            ZoomMtg.prepareJssdk();
            
            var API_KEY = '{{ ZOOM_SDK_KEY }}';

            document.getElementById('join_meeting').addEventListener('click', function(e){
                e.preventDefault();

                if(!this.form.checkValidity()){
                    alert("Enter Name and Meeting Number");
                    return false;
                }

                var meetConfig = {
                    apiKey: API_KEY,
                    meetingNumber: parseInt(document.getElementById('meeting_number').value),
                    userName: document.getElementById('display_name').value,
                    passWord: "",
                    leaveUrl: "http://localhost:8000",
                    role: 0
                };

                ZoomMtg.init({
                    leaveUrl: meetConfig.leaveUrl,
                    isSupportAV: true,
                    success: function () {
                        ZoomMtg.join(
                            {
                                meetingNumber: meetConfig.meetingNumber,
                                userName: meetConfig.userName,
                                signature: '{{ ZOOM_MEETING_SIGNATURE }}',
                                apiKey: meetConfig.apiKey,
                                userEmail: 'email@gmail.com',
                                passWord: meetConfig.passWord,
                                success: function(res){
                                    $('#nav-tool').hide();
                                    console.log('join meeting success');
                                },
                                error: function(res) {
                                    console.log(res);
                                }
                            }
                        );
                    },
                    error: function(res) {
                        console.log(res);
                    }
                });

            });

        })();
    </script>

</body>
</html>